content-based-routing/src/main/app/content-based-routing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule  xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"/>
    <flow name="content-based-routingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="/lang" allowedMethods="GET"/>
        <set-variable doc:name="Set Language" value="#[message.inboundProperties['http.query.params'].language]" variableName="language"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars['language'] == 'kannada']">
                <set-payload doc:name="Reply in Kannada" value="Namaskara"/>
            </when>
            <when expression="#[flowVars['language'] == 'hindi']">
                <set-payload doc:name="Reply in Hindi" value="Namashkar!!"/>
            </when>
            <otherwise>
                <flow-ref doc:name="DefaultLanguage" name="DefaultLanguage"/>
            </otherwise>
        </choice>
        <logger doc:name="Logger" level="INFO" message="The reply &quot;#[payload]&quot; means &quot;hello&quot; in #[flowVars.language]."/>
    </flow>
    <sub-flow name="DefaultLanguage">
        <logger doc:name="Logger" level="INFO" message="No language specified. Using English as a default. "/>
        <set-variable doc:name="Set Language to English" value="English" variableName="language"/>
        <set-payload doc:name="Reply in English" value="Hello Everyone!!"/>
    </sub-flow>
</mule>